@import '../../assets/scss/main.scss';

.project-unit {
  padding-bottom: 3rem;

  .image {
    width: 100%;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);
    }
  }
  
  .title {
    padding: 8px 0px;
    font-size: 1.8rem;
  }


  .additional_link * {
    font-size: 1.2rem;
    line-height: 0.9rem;
    padding-bottom: 12px;
    color: inherit;
    text-decoration:none;
  }

  .subtitle {
    color: $grey-color;
    font-size: 1.4rem;
    padding-bottom: 12px;

  }

  @include media('>=medium', '<large') {
    .image {
      height: 110px;
    }
  }

  @include media('<=medium', '>xsmall') {
    padding-bottom: 15px;
    
    .image {
      height: 140px;
    }
  }

  @include media('<=xsmall') {
    padding-bottom: 15px;

    .image {
      height: 160px;
    }
  }
}

  .article-links {
    color: Silver;

    ul.icons-list {
      padding: 0;
      margin: 0;
      list-style: none;
      padding-bottom: 10px;

      li.icon {
        display: inline-block;
        padding-right: 18px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    i.fa {
      font-size: 2.2rem;
    }

    a {
      color: Silver;
      transition: all .6s ease;
      -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */

      &:hover {
        color: black;
      }
    }

    .small {
      font-size: 1.3rem;
      transition: all .6s ease;
      -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
      cursor: normal;
      color: Silver;
    }
  }